#Ignore to track all the following types of files
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.dvi
*.synctex.gz
*.toc
*~
./*/*.aux
./*/*.bbl
./*/*.blg
./*/*.lof
./*/*.log
./*/*.lot
./*/*.out
./*/*.pdf
./*/*.synctex.gz
./*/*.toc
./*/*~
